/*12BOOL FRAMEWORK  */

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container{
  margin:0 auto;
}
.centrone{
  width:80%;
  margin:0 auto;
}
/*testo in maiuscolo*/
.text-upper-case{
  text-transform:uppercase;
}
/*testo accentrto*/
.text-at-center{
  text-align:center;
}
/*CLEAR*/

.row::after{
  clear: both;
  content: '';
  display: table;
}
/* COLONNE FRAMEWORK */

[class*='col-']{
  float: left;
}

/*versione desktop*/
@media all and (max-width: 2500px){

  .col-lg-1{
    width: calc((100% / 12) * 1);
  }

  .col-lg-2{
    width: calc((100% / 12) * 2);
  }

  .col-lg-3{
    width: calc((100% / 12) * 3);
  }

  .col-lg-4{
    width: calc((100% / 12) * 4);
  }

  .col-lg-5{
    width: calc((100% / 12) * 5);
  }

  .col-lg-6{
    width: 50%;
  }

  .col-lg-7{
    width: calc((100% / 12) * 7);
  }

  .col-lg-8{
    width: calc((100% / 12) * 8);
  }

  .col-lg-9{
    width: calc((100% / 12) * 9);
  }

  .col-lg-10{
    width: calc((100% / 12) * 10);
  }

  .col-lg-11{
    width: calc((100% / 12) * 11);
  }

  .col-lg-12{
    width: 100%;
  }

  /* OFFSET */

  .col-lg-offset-0{
    margin-left: 0;
  }

  .col-lg-offset-1{
    margin-left: calc((100% / 12) * 1);
  }

  .col-lg-offset-2{
    margin-left: calc((100% / 12) * 2);
  }

  .col-lg-offset-3{
    margin-left: calc((100% / 12) * 3);
  }

  .col-lg-offset-4{
    margin-left: calc((100% / 12) * 4);
  }

  .col-lg-offset-5{
    margin-left: calc((100% / 12) * 5);
  }

  .col-lg-offset-6{
    margin-left: 50%;
  }

  .col-lg-offset-7{
    margin-left: calc((100% / 12) * 7);
  }

  .col-lg-offset-8{
    margin-left: calc((100% / 12) * 8);
  }

  .col-lg-offset-9{
    margin-left: calc((100% / 12) * 9);
  }

  .col-lg-offset-10{
    margin-left: calc((100% / 12) * 10);
  }

  .col-lg-offset-11{
    margin-left: calc((100% / 12) * 11);
  }

  .col-lg-offset-12{
    margin-left: 100%;
  }
}


/*tablet version */

@media all and (min-width: 769px) and (max-width: 1300px) {

  .col-md-1{
    width: calc((100% / 12) * 1);
  }

  .col-md-2{
    width: calc((100% / 12) * 2);
  }

  .col-md-3{
    width: calc((100% / 12) * 3);
  }

  .col-md-4{
    width: calc((100% / 12) * 4);
  }

  .col-md-5{
    width: calc((100% / 12) * 5);
  }

  .col-md-6{
    width: 50%;
  }

  .col-md-7{
    width: calc((100% / 12) * 7);
  }

  .col-md-8{
    width: calc((100% / 12) * 8);
  }

  .col-md-9{
    width: calc((100% / 12) * 9);
  }

  .col-md-10{
    width: calc((100% / 12) * 10);
  }

  .col-md-11{
    width: calc((100% / 12) * 11);
  }

  .col-md-12{
    width: 100%;
  }

  /* OFFSET */

  .col-md-offset-0{
    margin-left: 0;
  }
  .col-md-offset-1{
    margin-left: calc((100% / 12) * 1);
  }

  .col-md-offset-2{
    margin-left: calc((100% / 12) * 2);
  }

  .col-md-offset-3{
    margin-left: calc((100% / 12) * 3);
  }

  .col-md-offset-4{
    margin-left: calc((100% / 12) * 4);
  }

  .col-md-offset-5{
    margin-left: calc((100% / 12) * 5);
  }

  .col-md-offset-6{
    margin-left: 50%;
  }

  .col-md-offset-7{
    margin-left: calc((100% / 12) * 7);
  }

  .col-md-offset-8{
    margin-left: calc((100% / 12) * 8);
  }

  .col-md-offset-9{
    margin-left: calc((100% / 12) * 9);
  }

  .col-md-offset-10{
    margin-left: calc((100% / 12) * 10);
  }

  .col-md-offset-11{
    margin-left: calc((100% / 12) * 11);
  }

  .col-md-offset-12{
    margin-left: 100%;
  }
}

@media all and (min-width: 577px) and (max-width: 870px) {
  .col-sm-1{
    width: calc((100% / 12) * 1);
  }

  .col-sm-2{
    width: calc((100% / 12) * 2);
  }

  .col-sm-3{
    width: calc((100% / 12) * 3);
  }

  .col-sm-4{
    width: calc((100% / 12) * 4);
  }

  .col-sm-5{
    width: calc((100% / 12) * 5);
  }

  .col-sm-6{
    width: 50%;
  }

  .col-sm-7{
    width: calc((100% / 12) * 7);
  }

  .col-sm-8{
    width: calc((100% / 12) * 8);
  }

  .col-sm-9{
    width: calc((100% / 12) * 9);
  }

  .col-sm-10{
    width: calc((100% / 12) * 10);
  }

  .col-sm-11{
    width: calc((100% / 12) * 11);
  }

  .col-sm-12{
    width: 100%;
  }

  /* OFFSET */

  .col-sm-offset-0{
    margin-left: 0;
  }
  .col-sm-offset-1{
    margin-left: calc((100% / 12) * 1);
  }

  .col-sm-offset-2{
    margin-left: calc((100% / 12) * 2);
  }

  .col-sm-offset-3{
    margin-left: calc((100% / 12) * 3);
  }

  .col-sm-offset-4{
    margin-left: calc((100% / 12) * 4);
  }

  .col-sm-offset-5{
    margin-left: calc((100% / 12) * 5);
  }

  .col-sm-offset-6{
    margin-left: 50%;
  }

  .col-sm-offset-7{
    margin-left: calc((100% / 12) * 7);
  }

  .col-sm-offset-8{
    margin-left: calc((100% / 12) * 8);
  }

  .col-sm-offset-9{
    margin-left: calc((100% / 12) * 9);
  }

  .col-sm-offset-10{
    margin-left: calc((100% / 12) * 10);
  }

  .col-sm-offset-11{
    margin-left: calc((100% / 12) * 11);
  }

  .col-sm-offset-12{
    margin-left: 100%;
  }
}




/*mobile version*/
@media all and (max-width: 576px){

  .col-xs-1{
    width: calc((100% / 12) * 1);
  }

  .col-xs-2{
    width: calc((100% / 12) * 2);
  }

  .col-xs-3{
    width: calc((100% / 12) * 3);
  }

  .col-xs-4{
    width: calc((100% / 12) * 4);
  }

  .col-xs-5{
    width: calc((100% / 12) * 5);
  }

  .col-xs-6{
    width: 50%;
  }

  .col-xs-7{
    width: calc((100% / 12) * 7);
  }

  .col-xs-8{
    width: calc((100% / 12) * 8);
  }

  .col-xs-9{
    width: calc((100% / 12) * 9);
  }

  .col-xs-10{
    width: calc((100% / 12) * 10);
  }

  .col-xs-11{
    width: calc((100% / 12) * 11);
  }

  .col-xs-12{
    width: 100%;
  }

  /* OFFSET */

  .col-xs-offset-0{
    margin-left: 0;
  }

  .col-xs-offset-1{
    margin-left: calc((100% / 12) * 1);
  }

  .col-xs-offset-2{
    margin-left: calc((100% / 12) * 2);
  }

  .col-xs-offset-3{
    margin-left: calc((100% / 12) * 3);
  }

  .col-xs-offset-4{
    margin-left: calc((100% / 12) * 4);
  }

  .col-xs-offset-5{
    margin-left: calc((100% / 12) * 5);
  }

  .col-xs-offset-6{
    margin-left: 50%;
  }

  .col-xs-offset-7{
    margin-left: calc((100% / 12) * 7);
  }

  .col-xs-offset-8{
    margin-left: calc((100% / 12) * 8);
  }

  .col-xs-offset-9{
    margin-left: calc((100% / 12) * 9);
  }

  .col-xs-offset-10{
    margin-left: calc((100% / 12) * 10);
  }

  .col-xs-offset-11{
    margin-left: calc((100% / 12) * 11);
  }

  .col-xs-offset-12{
    margin-left: 100%;
  }

}
