@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');

* {
    font-family: Roboto;
}

img{
  width: 100%;
  height: auto;
}
.centrone{
  position: relative;
  width: 80%;
  margin:auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  .barra{
    width: 100%;
    margin:20px;
    padding:40px 20px;
    box-shadow:2px 4px 20px rgb(193, 203, 230);
    position: relative;
    #map2{
      .mapboxgl-ctrl-top-left {
        top: 20px;
        left: 10px;
      }
      .mapboxgl-control-container, .tt-search-box{
        width: 500px;
      }
      .tt-search-box-search-icon{
        padding-right: 0;
      }
    }
    .search-bar{
      width: 100%;
      .services{
        width: auto;
        float: right;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        div{
          margin-left: 20px;
          display: flex;
          margin-bottom: 10px;
          p{
            margin:0;
            margin-left: 5px;
          }
          *:first-letter{
            text-transform: capitalize;
          }
        }
        .getFilters{
          margin-left: 20px;
          background: #ff5b60;
          padding:10px 19px;
          color: white;
          font-size: 16px;
          border: none;
        }
      }

    }
  }

  .sidebar{
    width: 50%;
    height: 80vh;
    overflow-y: scroll;
  }
}
.mappa{
  width: 100%;
  height: 500px;
  position: absolute;

}
.mappa2{
  // width: 100%;
  width: 50%;
  height: 550px;
}
canvas.mapboxgl-canvas{
  width: 100%;
}

.box{
  display: flex;
  flex-wrap: wrap;
  position: relative;
  text-decoration: none;
  width: 90%;
  margin:auto;
  margin-top: 10px;
  margin-bottom: 25px;
  box-shadow: 2px 3px 10px rgb(224, 224, 224);
  .img{
    width: 200px;
    height: 130px;
    background-size: cover;
  }
  .box-sections{
    padding:15px 30px;
    display: inline-block;
    color: black;
    *:first-letter{
      text-transform: capitalize;
    }

    .flat-title{
      font-size: 2rem;
      font-weight: normal;
      margin: 0;
    }
    .address-section h3{
      font-size: 1.7rem;
      font-weight: normal;
      color: gray;
      margin-top: 12px;
    }
    .details , .services-section{
      display: flex;

      *{
        margin-top: 6px;
        margin-right: 10px;
      }
    }
  }
  .rate{
    position: absolute;
    top: 15px;
    right: 15px;
    background:white;
    height: 40px;
    width: 40px;
    color: rgb(125, 125, 125);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: bolder;
    border: 2px solid #ff5b60;
  }
}


.paginate{
  display: flex;
  width: 100%;
  margin: auto;
  justify-content: center;
  margin-bottom: 70px;
  .pagination{
    list-style: none;
    .page-item {
      float: left;
      border:solid 2px #ff5b60;
      margin:10px;
      height: 20px;
      width: 20px;
      padding:20px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;

      .page-link{
          padding:20px;
          font-weight: lighter;
          color: rgb(115, 115, 115);
        }
        &.disabled{
           display: none;
        }
        &.active{
           background:#ff5b60;
           color: white!important;
           font-weight: bolder;
           .page-link{
              font-weight: bolder;
               color: white;
             }
        }
      }
  }
}

@media all and (min-width: 1500px) {
  .prima{
    display: block
  }
  .seconda{
    display: none;
  }
}
@media all and (max-width: 1500px) {
  .prima{
    display: none
  }
  .centrone .barra.seconda{
    margin-top: 0;
  padding:20px
  }
  .centrone .barra #map2 .mapboxgl-ctrl-top-left{
    top:10px;
    width: 100%;
  }
  .centrone .barra #map2 .mapboxgl-control-container, .centrone .barra #map2 .tt-search-box{
    width: 95%;
  }
  .centrone .barra .search-bar .services{
    width: 100%;
    justify-content: space-between;
  }


}


@media all and (max-width: 1024px) {
  .mappa2{
    // width: 100%;
    display: none;
  }
  .services{
    flex-wrap: wrap;
  }
  .centrone .sidebar {
    width: 100%;
    overflow-y: inherit;
  }
  .flats-results{
    display: flex;
    flex-wrap: wrap;
    .box{
      width: 50%
    }
  }


}
